.balcon_service {
  display: flex;
  margin-bottom: 20px;
}

.balcon_title {
  text-align: center;
  padding-top: 160px;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
}

.balcon_title2 {
  padding-top: 40px;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
}

.cards-container {
  display: flex;
  gap: 20px;
  max-width: 1680px;
  /* Ограничиваем ширину контейнера */
  margin: 0 auto;
  /* Центрируем контейнер */
}

.card {
  flex: 1 1 300px;
  margin: 0 auto;
  /* Минимум 300 px, но может расти/сжиматься */
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  min-height: 630px;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-5px);
}

.card {
  flex: 1 1 calc(50% - 20px);
  /* 50% минус отступы gap */
  max-width: calc(50% - 20px);
  /* Гарантируем 2 в ряд */
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card h2 {
  padding: 20px 15px;
  text-align: center;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  background-color: #2c3e50;
  color: white;
}

.balcon_text {
  padding: 15px;
  color: #777;
  line-height: 1.6;
}

.balcon_price {
  font-weight: bold;
  padding: 15px;
  position: absolute;
  bottom: 5%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery-item {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 0.3s ease;
}

.gallery-item:hover img {
  transform: scale(1.2);
}

.link-page {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-decoration: none;
  padding: 14px 8px;
  background-color: #3498db;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
}

.link-page:hover {
  background-color: #2980b9;
}


/* Лайтбокс (полноэкранный просмотр) */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox.active {
  display: flex;
}

.lightbox img {
  max-width: 90%;
  max-height: 85vh;
  object-fit: contain;
}

.close-btn,
.nav-btn {
  position: absolute;
  background: none;
  border: none;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  opacity: 0.7;
}

.close-btn {
  top: 20px;
  right: 30px;
}

.nav-btn {
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.close-btn:hover,
.nav-btn:hover {
  opacity: 1;
}

@media (max-width: 1024px) {
  .balcon_title {
    padding-top: 80px;
  }

  .cards-container {
    flex-wrap: wrap;
    /* Позволяем карточкам переноситься на новую строку */
  }

  .card {
    flex: 1 1 calc(50% - 20px);
    /* 50% ширины контейнера минус отступ */
    max-width: calc(50% - 20px);
    /* Гарантируем, что карточки не будут шире 50% */
    margin-bottom: 20px;
    /* Добавляем отступ снизу для разделения строк */
    min-height: 520px;
  }

}

@media (max-width: 770px) {

  .card {
    min-height: 600px;
  }
}

@media (max-width: 540px) {
.card {
   flex: 1 1 calc(90%);
   max-width: 90%;
   min-height: 520px;
  } 
}