.chage_main {
  margin: 0 auto;
  min-height: 500px;
 }

.cards-container {
  display: flex;
  margin: 0 auto;
  gap: 20px;
  width: 90%;
  max-width: 1200px;
   display: flex;
  flex-wrap: wrap; /* разрешает перенос карточек */
 }

.card {
  flex: 1;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  min-height: 510px;
  flex-direction: column; /* Располагаем элементы карточки вертикально */
  /* justify-content: space-between;  */
}


.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card h2 {
  padding: 20px 15px;
  text-align: center;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  background-color: #2c3e50;
  color: white;
}

.card p {
  padding: 15px;
  color: #777;
  line-height: 1.6;
}

.card button {
  display: block;
  position:absolute;
  bottom: 5px;
  width: 100%;
  padding: 15px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 0 0 8px 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #2980b9;
}

