.chage_main {
  margin: 0 auto;
  min-height: 500px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  /* Разрешаем перенос на новую строку */
  gap: 20px;
  max-width: 1200px;
  /* Ограничиваем ширину контейнера */
  margin: 0 auto;
  /* Центрируем контейнер */
}

.card {
  flex: 1 1 300px;
  /* Минимум 300 px, но может расти/сжиматься */
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  min-height: 510px;
  flex-direction: column;
}


.link-page {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-decoration: none;
  padding: 14px 8px;
  background-color: #3498db;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
}

.link-page:hover {
  background-color: #2980b9;
}



.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card h2 {
  padding: 20px 15px;
  text-align: center;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  background-color: #2c3e50;
  color: white;
}

.card p {
  padding: 15px;
  color: #777;
  line-height: 1.6;
}

.card button {
  display: block;
  position: absolute;
  bottom: 5px;
  width: 100%;
  padding: 15px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 0 0 8px 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #2980b9;
}


@media (max-width: 1280px) {
  .title {
    padding: 50px 0px 60px;
  }

  .cards-container {
    justify-content: center;
    /* Центрируем ряды, если не заполняют всю ширину */
  }

  .card {
    flex: 1 1 calc(33.333% - 20px);
    /* 33,33% минус отступы gap */
    max-width: calc(33.333% - 20px);
    /* Гарантируем 3 в ряд */
  }
}

@media (max-width: 1024px) {
  .card {
    min-height: 600px;
  }

  .title {
    padding: 0px 0px 60px;
  }
}

@media (max-width: 768px) {
  .title {
    padding: 0px 0px 60px;
    font-size: 2.5rem;
  }

  .title2 {
    font-size: 1.5rem;
  }

  .cards-container {
    justify-content: center;
    /* Центрируем ряды, если не заполняют всю ширину */
  }

  .card {
    flex: 1 1 calc(50% - 20px);
    /* 50% минус отступы gap */
    max-width: calc(50% - 20px);
    /* Гарантируем 2 в ряд */
  }
}

@media (max-width: 500px) {
  .card {
    flex: 1 1 calc(90% - 20px);
    /* 50% минус отступы gap */
    max-width: calc(90% - 20px);
    /* Гарантируем 2 в ряд */
    min-height: 550px;
  }
}