

html {
  scroll-behavior: smooth;
  /*offset: 50px;*/
  scroll-padding-top: 150px;
}

#about {
  scroll-margin-top: -20px;
}

#servises {
   scroll-margin-top: -20px;
}

body {
  background-image: url('../img/fon/6.jpg');
  background-attachment: fixed;
  background-size: cover;
}
/* a:hover, button:hover, [onclick]:hover {
 cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'><rect fill='%238B4513' x='24' y='12' width='4' height='20' transform='rotate(45 24 12)'/><rect fill='white' x='6' y='6' width='20' height='8' rx='4'/><rect fill='%23f5f5f5' x='8' y='8' width='16' height='4' rx='2'/></svg>"), pointer;
} */
