* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
}

.call_back {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #bbb8e0;
  padding: 5px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.logo_img {
  width: 5%;
}



.nav-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  transition: all 0.3s ease;
}

.nav-link {
  position: relative;
  display: inline-block;
  color: #333;
  text-decoration: none;
  font-size: 18px;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.nav_call {
  line-height: 5px;
  text-align: center;
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #007bff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link:hover {
  color: #007bff;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

.burger-wrapper {
  display: none;
  cursor: pointer;
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.line {
  width: 25px;
  height: 3px;
  background: #333;
  transition: all 0.3s ease;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.mobile-menu.active {
  display: block;
}

.mobile-menu li {
  margin: 10px 0;
}

.mobile-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  transition: background 0.3s;
}

.mobile-menu a:hover {
  background: #f8f9fa;
}

.phone {

  font-size: 16px;
  font-weight: bold;

}

@media (max-width: 1080px) {
  .nav-list {
    display: none;
  }

  .burger-wrapper {
    display: flex;
  }
}


@media (max-width: 480px) {
  .main-nav {
    padding: 1rem;
  }

  .mobile-menu {
    padding: 1rem;
  }
}

/*заказать обратный звонок*/

.call_back-block {
  margin-bottom: 10px;
  font-weight: bold;
  margin: 0 auto;
}

.call_back-button {
  padding: 8px 10px;
  font-size: 18px;
  color: #fff;
  background-color: #ffc107;
  border: none;
  border-radius: 5px;
  cursor: url('/img/cursor.jpg'), pointer;
  transition: background-color 0.3s;
}

.call_back-button:hover {
  background-color: #ffaf00;
}