/* Основные стили для страницы */
.main-photo {
  background-image: url('../img/main-foto.jpg');
  background-size: cover;
  background-position: center;
  height: 700px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: #fff;
}


.title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 80px 0px 60px;
  color: #FFFF00;
}

.title2 {
  padding-bottom: 20px;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  color: white;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  margin-top: 80px;

}

/* Стили для выпадающего меню */
.menu {
  background-color: transparent;
  color: white;
  padding: 10px;
  display: flex;
  gap: 20px;
}


.dropdown-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.dropdown {
  display: inline-block;
  position: relative;
}

/* Стили для стрелки */
.dropdown::after {
  content: "\27A4";
  font-size: 16px;
  color: #fff;
  /* Символ стрелки вниз */
  position: absolute;
  right: -2px;
  top: 23%;
  transition: transform 0.3s ease;
  transform-origin: center;
  transform: rotate(90deg);
}


.dropdown:hover::after {
  transform: rotate(270deg);
}

/* Стили для контента выпадающего меню */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0;
  /* Убираем max-height: 0 и overflow: hidden */
  max-height: 200px;
  /* Ограничиваем максимальную высоту */
  overflow-y: auto;
  /* Включаем вертикальную прокрутку */
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  transform: translateY(-10px);
}


.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  max-height: 300px;
  transform: translateY(0);
}


/* Показать выпадающий список при наведении на кнопку */
.dropdown:hover .dropdown-content a {
  display: block;
  color: black;
}

/* Анимация появления ссылок */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale3d(1.5, 1.5, 1.5);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}


/* Стили для ссылок */
.menu a {
  color: yellow;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  transition: background-color 0.3s ease;
  /* Плавная анимация при наведении */
}

.menu a:hover {
  background-color: #a4e873;
  color: #fff;
  /* Изменение цвета текста при наведении */
  border-radius: 5px;
  /* Скругленные углы */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  /* Тень для эффекта глубины */
}

/* Дополнительные стили для активного состояния ссылки */
.menu a.active {
  background-color: #333;
  font-weight: bold;
  /* Жирный шрифт для активного элемента */
}

@media (max-width: 1080px) {
  .title {
    padding: 50px 0px 60px;
  }

  .main-photo {
    height: 500px;
  }
}

/* Стили для мобильных устройств */
@media (max-width: 768px) {
  .menu a {
    padding: 8px 15px;
    /* Уменьшение отступов для маленьких экранов */
  }

  .title {
    padding: 20px 0px 60px;
  }
}

@media (max-width: 560px) {
  .menu {
    display: none;
  }

}