.recording {
  display: flex;
  margin: 0 auto;
  max-width: 90%;
  justify-items: center;
  align-items: center;
  padding: 10px;
  background-color: gray;
  margin-bottom: 20px;
}

#record {
  scroll-margin-top: 140px;
}

.measure {
  width: 50%;
  max-height: 197px;
}

.form-container {
  width: 50%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

input[type="text"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #ffc107;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ffaf00;
}