.about {
  margin: 0 auto;
  max-width: 90%;
  margin-bottom: 20px;
}

.about_container {
  display: flex;
  align-content: space-between;
  margin-bottom: 20px;
}

.about_link {
  margin-right: 3%;
  width: 20%;
  min-height: 500px;
  background-color: blanchedalmond;
  border: none; /* убираем границу */
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* добавляем тень */
}

.about_content {
  width: 80%;
  background-color:rgb(224, 208, 184)
}

.about_text {
  margin-bottom: 20px;
  padding: 20px;
  line-height: 1.5;
}

.about_advantages {
  list-style-type: none;
  padding-left: 20px;
}

.about_li {
  line-height: 1.5;
}

.about_li::before {
  content: "✔";
  margin-right: 10px;
}