.about {
  margin: 0 auto;
  max-width: 90%;
  margin-bottom: 20px;
}

.about_container {
  display: flex;
  align-content: space-between;
}

.about_link {
  margin-right: 3%;
  width: 30%;
  min-height: 500px;
  border: 1px solid gray;
}

.about_content {
  width: 60%;
}

.about_text {
  margin-bottom: 20px;
  line-height: 1.5;
}

.about_advantages {
  list-style-type: none;
  padding-left: 20px;
}

.about_li {
  line-height: 1.5;
}

.about_li::before {
  content: "✔";
  margin-right: 10px;
}